@import "../../assets/styles/index.scss";

.unique-pagination-wrapper {
    display: flex;

    .icon-wrapper {
        width: 32px;
        height: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        cursor: pointer;
        &.disabled {
            cursor: default;
        }

        .icon {
            fill: $color-secondary-500;

            &:hover {
                fill: $color-primary-500;
            }

            &.disabled {
                fill: $color-blue-grey-300;
            }
        }
    }
}
