@import "../../assets/styles/index.scss";

.unique-pagination-wrapper {
    display: flex;

    .cell {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 32px;
        height: 32px;
        box-sizing: border-box;
        user-select: none;
    }

    .three-dots {
        @include font-body-m-medium;
        color: $color-blue-grey-300;
        align-self: center;
    }

    .element {
        @include font-body-m;
        color: $color-additional-dark;
        padding: 4px 6px;
        cursor: pointer;

        &:hover {
            color: $color-primary-500;
        }

        &.active {
            background-color: $color-primary-500;
            color: $color-additional-light;
            border-radius: $border-radius;
        }
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        align-self: center;
        width: 32px;
        height: 32px;
        cursor: pointer;
        color: $color-secondary-500;

        &.disabled {
            color: $color-blue-grey-300;
            cursor: default;
        }
    }
}
