$unique_base-bg: #fff;
$unqiue_base-text: #040b1d;
$unique_disabled-text: #bec2cd;
$unique_base-border: #dcdcdc;
$unique_focus-border: #c5c5c5;
$unqiue_base-gray: #81858e;
$unique_disabled-gray: #fafafa;
$unqiue_placeholder-color: #c5c5c5;
$unqiue_placeholder-disabled-color: #dcdee4;
$unique_error: #ff0000;
$unique_blue-light: #ebf8ff;
$unique_blue-light-text: #009cf0;
