@import '../../assets/styles/index.scss';

.unique-collection-card {
    display: flex;
    gap: 16px;
    max-width: 1200px;
    border: 1px solid var(--color-grey-200);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 4px;
    box-sizing: border-box;
    padding: 32px;
    position: relative;

    div:nth-child(3) {
        flex: 2 1 auto;
    }

    .collection-badge {
        position: absolute;
        width: 24px;
        height: 24px;
        top: -1px;
        right: -1px;
    }

    .collection-content {
        display: flex;
        flex-direction: column;
        gap: 16px;

        .collection-title {
            margin: 0;
            max-width: 724px;
        }

        .collection-description {
            display: block;
            max-width: 724px;
        }

        .collection-meta {
            > div {
                display: flex;
                flex-wrap: wrap;
                gap: 16px;

                &:nth-of-type(2) {
                    margin-top: 4px;
                }

                div {
                    display: flex;
                    gap: 5px;
                }
            }
        }

        .collection-links {
            display: flex;
            gap: 16px;
        }

        .collection-tokens {
            display: flex;
            flex-direction: column;
            gap: 9px;
            div {
                display: flex;
                gap: 9px;
            }
        }
    }

    .collection-actions {
        display: flex;
        gap: 16px;
        justify-content: flex-end;
    }
}
