@import '../../assets/styles/index.scss';

.unique-button {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $border-radius;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;

    &.primary {
        background: green;
        border-color: $color-primary-500;
        color: $color-additional-light;
        &:hover {
            background: $color-primary-400;
            border-color: $color-primary-400;
        }
        &:active {
            background: $color-primary-600;
            border-color: $color-primary-600;
        }
    }

    &.secondary {
        background: $color-secondary-500;
        border-color: $color-secondary-500;
        color: $color-additional-light;
        &:hover {
            background: $color-secondary-400;
            border-color: $color-secondary-400;
        }
        &:active {
            background: $color-secondary-600;
            border-color: $color-secondary-600;
        }
    }

    &.outlined {
        background: $color-additional-light;
        border-color: $color-primary-500;
        color: $color-primary-500;
        &:hover {
            background: $color-primary-100;
            color: $color-primary-400;
            border-color: $color-primary-400;
        }
        &:active {
            color: $color-primary-600;
            border-color: $color-primary-600;
        }
    }

    &.tertiary {
        background: $color-additional-light;
        border-color: $color-grey-500;
        color: $color-grey-500;
        &:hover {
            background: $color-blue-grey-100;
            border-color: $color-grey-400;
        }
        &:active {
            color: $color-grey-600;
            border-color: $color-grey-600;
        }
    }

    &.danger {
        color: $color-coral-500;
        border-color: $color-coral-500;
        background: $color-additional-light;
        &:hover {
            background: $color-coral-100;
            border-color: $color-coral-400;
        }
        &:active {
            background: $color-additional-light;
            border-color: $color-coral-600;
            color: $color-coral-600;
        }
    }

    &.disabled,
    &.disabled:hover,
    &.disabled:active {
        cursor: default;
        color: $color-blue-grey-300;
        border-color: $color-blue-grey-300;
        background: $color-grey-100;
    }

    &.size-m {
        padding: 8px 24px;
        font-size: 16px;
        height: 40px;
        list-style: 40px;
    }

    &.size-s {
        padding: 5px 16px;
        font-size: 14px;
        height: 32px;
        list-style: 32px;
    }

    &.wide {
        width: 100%;
    }

    &.with-icon {
        svg {
            position: relative;
        }
        &.to-right {
            flex-direction: row;
            svg {
                margin-left: 10px;
            }
        }
        &.to-left {
            flex-direction: row-reverse;
            svg {
                margin-right: 10px;
            }
        }
    }
}
