@import '../../assets/styles/index.scss';

.unique-menu {
    display: flex;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    .menu-wrapper {
        display: flex;
        height: 48px;
        border-radius: 8px;
        border: 1px solid $color-blue-grey-200;
        padding: 8px;
        &.menu-token {
            width: 257px;
            height: 40px;
            display: flex;
            align-items: center;
            padding: 8px;
            .icon-triangle {
                margin-left: 8px;
            }
            .selected {
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: 0.2s;
                &:hover {
                    background-color: $color-blue-grey-100;
                }
            }
            .selected-rate {
                display: flex;
                justify-content: space-evenly;
                height: 100%;
                width: 80%;
                text-align: end;
            }
            .selected-token {
                height: 100%;
                width: 20%;
                justify-content: center;
            }
        }
        .menu-dropdown {
            position: absolute;
            top: 87px;
            left: 100px;
            background-color: #fff;
            box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            padding: 16px;
            .dropdown-option {
                padding: 8px;
                cursor: pointer;
                font-weight: 500;
                transition: 0.2s;
                &:hover {
                    background-color: $color-blue-grey-100;
                }
                &.selected {
                    color: $color-primary-500;
                    background-color: $color-primary-100;
                }
                .icon {
                    margin-right: 8px;
                }
            }
        }
    }
    .seporate {
        width: 1px;
        margin: 0 4px;
        height: 100%;
        background-color: $color-blue-grey-200;
    }
}
