@import '../../assets/styles/index.scss';

.unique-code-wrapper {
    font-family: var(--prop-font-family);
    font-size: var(--prop-font-size);
    font-weight: var(--prop-font-weight);

    pre.__json-pretty__ {
        padding: 20px;
        margin-bottom: 0;
    }

    &.dark {
        pre.__json-pretty__ {
            background-color: #1e1e1e;
            color: #d4d4d4;

            .__json-key__ {
                color: #7cdcfe;
            }
            .__json-string__ {
                color: #ce9178;
            }
        }
    }

    &.light {
        pre.__json-pretty__ {
            background-color: var(--color-blue-grey-100);
            color: #818588;

            .__json-key__ {
                color: #0451a5;
            }
            .__json-string__ {
                color: #ff5500;
            }
        }
    }
}
