/**
* @tokens Colors
* @presenter Color
*/

$color-primary-500: #1DB0FF;
$color-secondary-500: #040B1D;
$color-blue-grey-500: #7F90A1;
$color-grey-500: #81858E;
$color-additional-positive-500: #2DBF15;
$color-additional-warning-500: #F9A400;
$color-additional-negative-500: #FF6335;
