@import '../../assets/styles/index.scss';

.unique-upload {
    .hidden-input {
        display: none;
    }
    .upload,
    .preview {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-additional-light;
        border: 1px dashed $color-primary-500;
        cursor: pointer;
        &.circle .image,
        &.square .image {
            object-fit: contain;
        }
        &.circle {
            width: 118px;
            height: 118px;
            border-radius: 100px;
            .image {
                border-radius: 100px;
                height: 102px;
                width: 102px;
            }
        }
        &.square {
            width: 176px;
            height: 176px;
            border-radius: $border-radius;
            .image {
                border-radius: $border-radius;
                height: 160px;
                width: 160px;
            }
        }
        &:hover {
            background-color: $color-primary-100;
        }
        &.disabled {
            border-color: $color-blue-grey-300;
            svg {
                fill: $color-blue-grey-300;
            }
            &:hover {
                background-color: unset;
            }
        }
    }
    .upload {
        .icon {
            fill: $color-primary-500;
        }
    }
    .preview {
        .icon {
            position: absolute;
            top: 0;
            right: -21px;
            fill: $color-blue-grey-400;
        }
    }
}
