@import '../../assets/styles/index.scss';

$base-colors-map: (
    color-primary-500: $color-primary-500,
    color-secondary-500: $color-secondary-500,
    color-blue-grey-500: $color-blue-grey-500,
    color-grey-500: $color-grey-500,
    color-additional-positive-500: $color-additional-positive-500,
    color-additional-warning-500: $color-additional-warning-500,
    color-additional-negative-500: $color-additional-negative-500
);

$color-palette-map: (
    color-primary-100: $color-primary-100,
    color-primary-200: $color-primary-200,
    color-primary-300: $color-primary-300,
    color-primary-400: $color-primary-400,
    color-primary-500: $color-primary-500,
    color-primary-600: $color-primary-600,
    color-primary-700: $color-primary-700,
    color-secondary-100: $color-secondary-100,
    color-secondary-200: $color-secondary-200,
    color-secondary-300: $color-secondary-300,
    color-secondary-400: $color-secondary-400,
    color-secondary-500: $color-secondary-500,
    color-secondary-600: $color-secondary-600,
    color-secondary-700: $color-secondary-700,
    color-blue-grey-100: $color-blue-grey-100,
    color-blue-grey-200: $color-blue-grey-200,
    color-blue-grey-300: $color-blue-grey-300,
    color-blue-grey-400: $color-blue-grey-400,
    color-blue-grey-500: $color-blue-grey-500,
    color-blue-grey-600: $color-blue-grey-600,
    color-blue-grey-700: $color-blue-grey-700,
    color-grey-100: $color-grey-100,
    color-grey-200: $color-grey-200,
    color-grey-300: $color-grey-300,
    color-grey-400: $color-grey-400,
    color-grey-500: $color-grey-500,
    color-grey-600: $color-grey-600,
    color-grey-700: $color-grey-700,
    color-additional-positive-500: $color-additional-positive-500,
    color-additional-positive-100: $color-additional-positive-100,
    color-additional-warning-500: $color-additional-warning-500,
    color-additional-warning-100: $color-additional-warning-100,
    color-additional-negative-500: $color-additional-negative-500,
    color-additional-negative-100: $color-additional-negative-100
);

.base-colors .unique-color-item {
    @each $color, $value in $base-colors-map {
        &[class*='#{$color}'] {
            .hex-value {
                &:before {
                    content: '#{$value}';
                }
            }
            .color-sample {
                background-color: $value;
            }
        }
    }
}

.color-palette .unique-color-item {
    @each $color, $value in $color-palette-map {
        &[class*='#{$color}'] {
            .hex-value {
                &:before {
                    content: '#{$value}';
                }
            }
            .color-sample {
                background-color: $value;
            }
        }
    }
}

.unique-color-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: $font-family;
    font-size: $font-size;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 30px;
    position: relative;
    width: 70%;

    .sass-variable {
        width: 40%;
    }

    .hex-value {
        text-transform: uppercase;
        width: 30%;
    }

    .color-sample {
        border-radius: $border-radius;
        height: 40px;
        width: 30%;
    }
}
