@import '../../assets/styles/index.scss';

.unique-checkbox-wrapper {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    position: relative;
    display: flex;
    cursor: pointer;

    input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
    }

    .checkmark {
      position: absolute;
      width: 20px;
      height: 20px;
      border: 1px solid $color-grey-300;
      border-radius: 4px;
      margin-top: 1px;
    }

    .checkmark.checked {
      background-color: $color-primary-500;
      border: 1px solid $color-primary-500;
      &:after {
        content: '';
        position: absolute;
        -webkit-mask-repeat: no-repeat;
        -webkit-mask-position: center center;
        -webkit-mask-size: contain;
        mask-position: center center;
        mask-repeat: no-repeat;
        mask-size: contain;
        height: 18px;
        width: 18px;
        top: 1px;
        left: 1px;
        background-color: $color-primary-100;
        -webkit-mask-image: url('../../assets/svg/checked.svg');
        mask-image: url('../../assets/svg/checked.svg');
      }
    }

    label {
        display: block;
        font-size: 16px;
        font-weight: $font-weight;
        line-height: 24px;
        color: $color-secondary-500;
        margin-left: 30px;
        cursor: pointer;
    }

    &.disabled {
      input {
        background-color: red;
      }
      .checkmark {
        background-color: $color-grey-300;
      }
      .checkmark.checked {
        background-color: $color-grey-300;
        border: 1px solid $color-grey-300;
    }
      label {
        color: $color-blue-grey-300;
      }
    }

    &.checkbox-size {
      &-s {
        .checkmark {
          width: 18px;
          height: 18px;
          margin-top: 0;
          &.checked::after {
            height: 16px;
            width: 16px;
            top: 1px;
            left: 1px;
          }
        }
        label {
          font-size: $font-size;
          line-height: 21px;
          margin-left: 28px;
        } 
      }
    }
}
