@import "../../../assets/styles/index.scss";

$mobile: 320px;

.three-dots {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 32px;
    height: 32px;
    box-sizing: border-box;
    user-select: none;
    @include font-body(m);
    font-weight: 500;
    color: $color-blue-grey-300;
    align-self: center;

    @media screen and (max-width: $mobile) {
        width: 24px;
        min-width: 24px;
    }
}
