@import '../../assets/style/colors.scss';
@import '../../assets/style/props.scss';

.unique-input-text {
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    position: relative;
    width: 250px;

    &.with-icon {
        .input-wrapper {
            &.disabled:after {
                background-color: $unique_disabled-text;
            }
            &:after {
                content: '';
                background-color: $unqiue_base-gray;
                height: 18px;
                position: absolute;
                -webkit-mask-position: center center;
                -webkit-mask-repeat: no-repeat;
                -webkit-mask-size: contain;
                mask-position: center center;
                mask-repeat: no-repeat;
                mask-size: contain;
                right: 12px;
                width: 18px;
            }
            input {
                padding-right: 40px;
                width: 100%;
            }
        }
    }

    &.icon-edit {
        .input-wrapper {
            &:after {
                -webkit-mask-image: url('../../assets/svg/edit.svg');
                mask-image: url('../../assets/svg/edit.svg');
                top: 9px;
            }
        }
    }

    &.icon-eye {
        .input-wrapper {
            &:after {
                -webkit-mask-image: url('../../assets/svg/eye.svg');
                mask-image: url('../../assets/svg/eye.svg');
                top: 12px;
            }
        }
    }

    &.error {
        .input-wrapper {
            input {
                border: 1px solid $unique_error;
            }
        }
        .status-text {
            color: $unique_error;
        }
    }

    label {
        color: $unqiue_base-text;
        display: block;
        font-size: 16px;
        font-weight: 600;
        height: 24px;
        line-height: 24px;
        margin-bottom: 5px;
        overflow: hidden;
        position: relative;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .additional-text {
        color: $unqiue_base-gray;
        font-size: 14px;
        height: 22px;
        line-height: 22px;
        margin-bottom: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .status-text {
        color: $unqiue_base-gray;
        font-size: 14px;
        line-height: 22px;
        margin-top: 8px;
        min-height: 22px;
    }

    .input-wrapper {
        position: relative;

        input {
            border: 1px solid $unique_base-border;
            border-radius: $border-raduis;
            box-sizing: border-box;
            outline: none;
            padding: 11px 12px;
            min-width: 200px;
            width: 100%;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;

            &:focus {
                border: 1px solid $unique_focus-border;
            }

            &:disabled {
                background-color: $unique_disabled-gray;
                color: $unique_disabled-text;

                &::placeholder {
                    color: $unqiue_placeholder-disabled-color;
                }
            }
        }
    }
}
