@import '../../assets/styles/index.scss';

.unique-table {
    font-family: $font-family;
    font-size: $font-size;
    display: flex;
    flex-direction: column;
    font-style: normal;

    &-header {
        font-weight: 500;
        display: flex;
        align-items: center;
        height: 40px;
        background-color: $color-blue-grey-100;
        color: $color-blue-grey-600;

        div {
            padding: 0 16px;
        }
    }

    &-data {
        &-row {
            display: flex;
            align-items: center;
            height: 40px;
            flex-direction: row;
            background-image: linear-gradient(
                to right,
                $color-grey-300 50%,
                rgba(255, 255, 255, 0) 0%
            );
            background-position: bottom;
            background-size: 4px 1px;
            background-repeat: repeat-x;
            color: $color-blue-grey-600;

            div {
                padding: 0 16px;

                a {
                    font-weight: inherit;
                }
            }
        }
    }
}
