@import '../../assets/styles/index.scss';

.unique-tooltip-wrapper {
    position: relative;
    display: inline-block;
    .tooltip-text {
        visibility: hidden;
        max-width: 440px;
        width: max-content;
        height: max-content;
        background-color: rgba(0, 0, 0, 0.8);
        padding: 8px 16px;
        color: #fff;
        text-align: center;
        border-radius: 2px;
        position: absolute;
        font-family: var(--prop-font-family);
        font-size: var(--prop-font-size);
        font-weight: var(--prop-font-weight);
        line-height: 22px;
        z-index: 1;
        left: 0%;
        max-width: 288px;

        &::after {
            content: '';
            position: absolute;
            left: 15px;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.8) transparent transparent transparent;
        }
        &.top {
            bottom: calc(100% + 10px);
            &::after {
                bottom: -10px;
                transform: rotate(0);
            }
        }
        &.bottom {
            top: calc(100% + 10px);
            &::after {
                top: -10px;
                transform: rotate(180deg);
            }
        }
        &.left {
            left: unset;
            right: 70px;
            top: -5px;
            &::after {
                right: -10px;
                left: unset;
                top: 10px;
                transform: rotate(270deg);
            }
        }
        &.right {
            left: 70px;
            top: -5px;
            &::after {
                left: -5px;
                top: 10px;
                transform: rotate(90deg);
            }
        }
        &.top.align-right,
        &.bottom.align-right {
            left: unset;
            right: 0px;
            &.bottom,
            &.top {
                &::after {
                    left: unset;
                    right: 10px;
                }
            }
        }
    }
    &:hover {
        .tooltip-text {
            visibility: visible;
        }
    }
}
