$font-header-1-font-size: 36px;
$font-header-1-text-decoration: none;
$font-header-1-font-family: Raleway;
$font-header-1-font-weight: 700;
$font-header-1-font-style: normal;
$font-header-1-font-stretch: normal;
$font-header-1-font-style-old: Bold;
$font-header-1-letter-spacing: 0;
$font-header-1-line-height: 48px;
$font-header-1-paragraph-indent: 0;
$font-header-1-paragraph-spacing: 0;
$font-header-1-text-case: none;
$font-header-2-font-size: 28px;
$font-header-2-text-decoration: none;
$font-header-2-font-family: Raleway;
$font-header-2-font-weight: 700;
$font-header-2-font-style: normal;
$font-header-2-font-stretch: normal;
$font-header-2-font-style-old: Bold;
$font-header-2-letter-spacing: 0;
$font-header-2-line-height: 42px;
$font-header-2-paragraph-indent: 0;
$font-header-2-paragraph-spacing: 0;
$font-header-2-text-case: none;
$font-header-3-font-size: 24px;
$font-header-3-text-decoration: none;
$font-header-3-font-family: Raleway;
$font-header-3-font-weight: 700;
$font-header-3-font-style: normal;
$font-header-3-font-stretch: normal;
$font-header-3-font-style-old: Bold;
$font-header-3-letter-spacing: 0;
$font-header-3-line-height: 36px;
$font-header-3-paragraph-indent: 0;
$font-header-3-paragraph-spacing: 0;
$font-header-3-text-case: none;
$font-header-4-font-size: 20px;
$font-header-4-text-decoration: none;
$font-header-4-font-family: Raleway;
$font-header-4-font-weight: 700;
$font-header-4-font-style: normal;
$font-header-4-font-stretch: normal;
$font-header-4-font-style-old: Bold;
$font-header-4-letter-spacing: 0;
$font-header-4-line-height: 28px;
$font-header-4-paragraph-indent: 0;
$font-header-4-paragraph-spacing: 0;
$font-header-4-text-case: none;
$font-body-l-medium-font-size: 18px;
$font-body-l-medium-text-decoration: none;
$font-body-l-medium-font-family: Inter;
$font-body-l-medium-font-weight: 500;
$font-body-l-medium-font-style: normal;
$font-body-l-medium-font-stretch: normal;
$font-body-l-medium-font-style-old: Medium;
$font-body-l-medium-letter-spacing: 0;
$font-body-l-medium-line-height: 26px;
$font-body-l-medium-paragraph-indent: 0;
$font-body-l-medium-paragraph-spacing: 0;
$font-body-l-medium-text-case: none;
$font-body-l-font-size: 18px;
$font-body-l-text-decoration: none;
$font-body-l-font-family: Inter;
$font-body-l-font-weight: 400;
$font-body-l-font-style: normal;
$font-body-l-font-stretch: normal;
$font-body-l-font-style-old: Regular;
$font-body-l-letter-spacing: 0;
$font-body-l-line-height: 26px;
$font-body-l-paragraph-indent: 0;
$font-body-l-paragraph-spacing: 0;
$font-body-l-text-case: none;
$font-body-m-medium-font-size: 16px;
$font-body-m-medium-text-decoration: none;
$font-body-m-medium-font-family: Inter;
$font-body-m-medium-font-weight: 500;
$font-body-m-medium-font-style: normal;
$font-body-m-medium-font-stretch: normal;
$font-body-m-medium-font-style-old: Medium;
$font-body-m-medium-letter-spacing: 0;
$font-body-m-medium-line-height: 24px;
$font-body-m-medium-paragraph-indent: 0;
$font-body-m-medium-paragraph-spacing: 0;
$font-body-m-medium-text-case: none;
$font-body-m-font-size: 16px;
$font-body-m-text-decoration: none;
$font-body-m-font-family: Inter;
$font-body-m-font-weight: 400;
$font-body-m-font-style: normal;
$font-body-m-font-stretch: normal;
$font-body-m-font-style-old: Regular;
$font-body-m-letter-spacing: 0;
$font-body-m-line-height: 24px;
$font-body-m-paragraph-indent: 0;
$font-body-m-paragraph-spacing: 0;
$font-body-m-text-case: none;
$font-body-s-medium-font-size: 14px;
$font-body-s-medium-text-decoration: none;
$font-body-s-medium-font-family: Inter;
$font-body-s-medium-font-weight: 500;
$font-body-s-medium-font-style: normal;
$font-body-s-medium-font-stretch: normal;
$font-body-s-medium-font-style-old: Medium;
$font-body-s-medium-letter-spacing: 0;
$font-body-s-medium-line-height: 21px;
$font-body-s-medium-paragraph-indent: 0;
$font-body-s-medium-paragraph-spacing: 0;
$font-body-s-medium-text-case: none;
$font-body-s-font-size: 14px;
$font-body-s-text-decoration: none;
$font-body-s-font-family: Inter;
$font-body-s-font-weight: 400;
$font-body-s-font-style: normal;
$font-body-s-font-stretch: normal;
$font-body-s-font-style-old: Regular;
$font-body-s-letter-spacing: 0;
$font-body-s-line-height: 21px;
$font-body-s-paragraph-indent: 0;
$font-body-s-paragraph-spacing: 0;
$font-body-s-text-case: none;
$font-body-xs-medium-font-size: 12px;
$font-body-xs-medium-text-decoration: none;
$font-body-xs-medium-font-family: Inter;
$font-body-xs-medium-font-weight: 500;
$font-body-xs-medium-font-style: normal;
$font-body-xs-medium-font-stretch: normal;
$font-body-xs-medium-font-style-old: Medium;
$font-body-xs-medium-letter-spacing: 0;
$font-body-xs-medium-line-height: 18px;
$font-body-xs-medium-paragraph-indent: 0;
$font-body-xs-medium-paragraph-spacing: 0;
$font-body-xs-medium-text-case: none;
$font-body-xs-font-size: 12px;
$font-body-xs-text-decoration: none;
$font-body-xs-font-family: Inter;
$font-body-xs-font-weight: 400;
$font-body-xs-font-style: normal;
$font-body-xs-font-stretch: normal;
$font-body-xs-font-style-old: Regular;
$font-body-xs-letter-spacing: 0;
$font-body-xs-line-height: 18px;
$font-body-xs-paragraph-indent: 0;
$font-body-xs-paragraph-spacing: 0;
$font-body-xs-text-case: none;

$font-family-body: Inter;

@mixin font-body-xs {
    font: {
        family: $font-family-body;
        size: 12px;
        stretch: normal;
        style: normal;
        weight: 400;
    }
    letter-spacing: 0;
    line-height: 18px;
}

@mixin font-body-xs-medium {
    @include font-body-xs;
    font-weight: 500;
}

@mixin font-body-s {
    font: {
        family: $font-family-body;
        size: 14px;
        stretch: normal;
        style: normal;
        weight: 400;
    }
    letter-spacing: 0;
    line-height: 21px;
}

@mixin font-body-s-medium {
    @include font-body-s;
    font-weight: 500;
}

@mixin font-body-m {
    font: {
        family: $font-family-body;
        size: 16px;
        stretch: normal;
        style: normal;
        weight: 400;
    }
    letter-spacing: 0;
    line-height: 24px;
}
@mixin font-body-m-medium {
    @include font-body-m;
    font-weight: 500;
}

@mixin font-body-l {
    font: {
        family: $font-family-body;
        size: 18px;
        stretch: normal;
        style: normal;
        weight: 400;
    }
    letter-spacing: 0;
    line-height: 26px;
}

@mixin font-body-l-medium {
    @include font-body-l;
    font-weight: 500;
}
