$font-family-body: Inter;

//миксины для текста
@mixin font-body-xs {
    font: {
        family: $font-family-body;
        size: 12px;
        stretch: normal;
        style: normal;
        weight: 400;
    }
    letter-spacing: 0;
    line-height: 18px;
}

@mixin font-body-xs-medium {
    @include font-body-xs;
    font-weight: 500;
}

@mixin font-body-s {
    font: {
        family: $font-family-body;
        size: 14px;
        stretch: normal;
        style: normal;
        weight: 400;
    }
    letter-spacing: 0;
    line-height: 21px;
}

@mixin font-body-s-medium {
    @include font-body-s;
    font-weight: 500;
}

@mixin font-body-m {
    font: {
        family: $font-family-body;
        size: 16px;
        stretch: normal;
        style: normal;
        weight: 400;
    }
    letter-spacing: 0;
    line-height: 24px;
}
@mixin font-body-m-medium {
    @include font-body-m;
    font-weight: 500;
}

@mixin font-body-l {
    font: {
        family: $font-family-body;
        size: 18px;
        stretch: normal;
        style: normal;
        weight: 400;
    }
    letter-spacing: 0;
    line-height: 26px;
}

@mixin font-body-l-medium {
    @include font-body-l;
    font-weight: 500;
}
