@import '../../assets/styles/index.scss';

.base-colors .unique-color-item {
    @each $color, $value in $base-colors-map {
        &[class*='#{$color}'] {
            .hex-value {
                &:before {
                    content: '#{$value}';
                }
            }
            .color-sample {
                background-color: $value;
                border: 1px solid darken($value, 3%);
            }
        }
    }
}

.color-palette .unique-color-item {
    @each $color, $value in $color-palette-map {
        &[class*='#{$color}'] {
            .hex-value {
                &:before {
                    content: '#{$value}';
                }
            }
            .color-sample {
                background-color: $value;
                border: 1px solid darken($value, 20%);
            }
        }
    }
}

.unique-color-item {
    align-items: center;
    display: flex;
    flex-direction: row;
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    justify-content: space-between;
    margin-bottom: 20px;
    min-height: 30px;
    position: relative;
    width: 70%;

    .sass-variable {
        width: 40%;
    }

    .hex-value {
        text-transform: uppercase;
        width: 30%;
    }

    .color-sample {
        border-radius: $border-radius;
        height: 40px;
        width: 30%;
    }
}
