@import '../../assets/styles/index.scss';

.unique-link {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    font-style: normal;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    cursor: pointer;

    &.primary {
        color: $color-primary-600;
    }

    &.secondary {
        color: $color-grey-500;
    }

    &.danger {
        color: $color-coral-500;
    }

    &.disabled {
        color: $color-blue-grey-300;
        cursor: not-allowed;
    }
}
